 * {
     margin: 0px;
     padding: 0px;
 }

 body {
     background-image: url('../images/login-background.avif') !important;
     overflow: hidden;
     height: 100vh !important;
 }



 .container-t {
     background-color: white;
     width: 65%;
     height: 52.3vh;
     border-radius: 10px;
 }

 .fit-image {
     object-fit: cover;
     width: auto;
     height: 100%;
 }

 .login-container {
     width: 75%;
     height: 75vh;
     background-color: #FFC692;
     margin-left: 150px;
     border-radius: 10px;
 }

 .login {
     width: 90%;
     height: 90%;
     background-color: white;
     margin: auto;
 }

 form {
     width: 90%;
 }

 .input {
     width: 90%;
     height: 50px;
     margin: 1rem;
     border: 1px solid #FFC692;
 }

 .submit {
     background-color: #FFC692 !important;
     margin: auto;
     width: 150px;
     height: 50px;
     color: white !important;
 }
